variables:
  DOCKER_CF_INFO: "rockylinux"
  DOCKER_CF_TAG: "latest"

build-job:
  stage: build
  variables:
    DOCKER_CF_INFO: "rockylinux"
    DOCKER_CF_TAG: "9"
  before_script:
    - mkdir -p $HOME/.docker
    - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  script:
    - echo "Hello, $GITLAB_USER_LOGIN!"
    # - docker pull adobecoldfusion/coldfusion:latest-2021
    # - docker pull "$DOCKER_CF_INFO":"$DOCKER_CF_TAG"
    - |
      echo "FROM $DOCKER_CF_INFO:$DOCKER_CF_TAG" >> dockerfile
      echo "RUN dnf update -y && dnf install jq coreutils -y --allowerasing " >> dockerfile

    - docker build -t "$DOCKER_CF_INFO":"$DOCKER_CF_TAG" .

    - docker tag "$DOCKER_CF_INFO":"$DOCKER_CF_TAG" docker-registry.c2sf.mil/cmis/"$DOCKER_CF_INFO":latest
    - docker push docker-registry.c2sf.mil/cmis/"$DOCKER_CF_INFO":latest

test-job:
  stage: test
  image: docker-registry.c2sf.mil/cmis/$DOCKER_CF_INFO:latest
  before_script:
    - mkdir -p $HOME/.docker
    - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  script:
    - jq --version
    - wc --version
